{{page-title "FrontendTintoVerano"}}

{{#if this.showNavbar}}
  <nav class="main-navbar">
    <div class="main-navbar__brand">
      Tinto de Verano
    </div>
    <div class="main-navbar__links">
      <LinkTo @route="me" class="main-navbar__link">My profile</LinkTo>

      <div class="navbar-groups">
        <button type="button" class="main-navbar__link" {{on "click" this.goToMyGroups}}>
          Groups
        </button>
      </div>

      <button type="button" class="main-navbar__link" {{on "click" this.goToLeaderboard}}>
        Leaderboard
      </button>

      <button type="button" class="main-navbar__link" {{on "click" this.logout}}>
        Logout
      </button>
    </div>
  </nav>
{{/if}}

{{outlet}}
