{{page-title "Me"}}

<div class="me-page">
  <div class="me-card">
    <h1 class="me-title">This week you've taken</h1>

    {{#if @model.error}}
      <p class="me-error">{{@model.error}}</p>
    {{else}}
      <div class="me-counter">
        <div class="me-counter__value">
          {{if this.weeklyCount this.weeklyCount (if @model.count @model.count 0)}}
        </div>

        <div class="me-counter__buttons">
          <button
            type="button"
            class="me-counter__button me-counter__button--minus"
            {{on "click" this.decrement}}
          >
            -
          </button>

          <button
            type="button"
            class="me-counter__button me-counter__button--plus"
            {{on "click" this.increment}}
          >
            +
          </button>
        </div>
      </div>
    {{/if}}
  </div>
</div>
