{{page-title "Login"}}

<div class="login-page">
  <div class="login-layout">
    <div class="login-column login-column--form">
      <div class="login-form-wrapper">
        <h1 class="login-title">Tinto de Verano</h1>
        <p class="login-subtitle">
          Log in to see your consumption and rankings!
        </p>

        {{#if this.errorMessage}}
          <div class="login-error">
            {{this.errorMessage}}
          </div>
        {{/if}}

        <form class="login-form" {{on "submit" this.login}}>
          <div class="login-field">
            <label for="mu-login-username">Email address</label>
            <input
              id="mu-login-username"
              name="email"
              autocomplete="email"
              required
              value={{this.email}}
              {{on "input" this.updateEmail}}
            >
          </div>

          <div class="login-field">
            <label for="mu-login-password">Password</label>
            <input
              id="mu-login-password"
              name="password"
              type="password"
              autocomplete="current-password"
              required
              value={{this.password}}
              {{on "input" this.updatePassword}}
            >
          </div>

          <div class="login-actions">
            <button
              type="submit"
              class="login-button"
              disabled={{this.isAuthenticating}}
            >
              {{if this.isAuthenticating "Signing in..." "Sign in"}}
            </button>
          </div>
        </form>

        <p> Don't have an account yet? <LinkTo @route="register">Click here to register</LinkTo></p>
      </div>
    </div>

    <div class="login-column login-column--image has-photo">
      <div class="login-image-overlay"></div>
    </div>
  </div>
</div>
